.calc-intro{
    background-color: rgb(204, 201, 197);
    color: black;
    max-width: 1100px;
    margin: 100px auto;
    padding: 50px;
    text-align: justify;
}

#calc-results{
    background-color: rgb(204, 201, 197);
    color: black;
    max-width: 900px;
    margin: 100px auto;
    padding: 50px;
    text-align: justify;
}

form{
    background-color: rgb(204, 201, 197);
    color: black;
    max-width: 400px;
    margin: 100px auto;
    padding: 50px;
    text-align: justify;
    justify-content: center;
    align-items: center;
    display: grid;
    line-height: 3;
}

