body {
    background: linear-gradient(to bottom, #212529 0%, #212529 50%, #212529 50%, white 50%, white 100%);
    padding: 40px;
  }

main {
    background-color: rgb(204, 201, 197);
    color: black;
    max-width: 700px;
    margin: 100px auto;
    padding: 50px;
    text-align: justify;
    z-index: 1;
}

article-img{
  text-align: center;
}

figcaption{
  font-style: italic;
}
