* {
    box-sizing: border-box;
    margin: 10px;
  }

  body {
    font-family: 'Noto Serif', serif;
    line-height: 2em;
    padding: 40px;
  }
  
  @font-face {
    font-family: 'Noto Serif';
    src: url(static\Noto_Serif\NotoSerif-VariableFont_wdth,wght.ttf);
  }