.page1upper {
  background-color: rgb(204, 201, 197);
  color: black;
  max-width: 900px;
  margin: 100px auto;
  padding: 50px;
  text-align: justify;
}

.page1middle {
  background-color: rgb(204, 201, 197);
  color: black;
  max-width: 1100px;
  margin: 100px auto;
  padding: 50px;
  text-align: justify;
}

.page1lower {
  border: 1px solid rgb(229, 155, 35);
  padding: 20px;

}

.card-img-top{
  width: 255px;
}