<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Winter is coming</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='stylemain.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='stylepage5.css') }}">
    <script src="main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                </a>
                <div class="nav">
                    <a class="nav-link" href="{{ url_for ('index')}}">Home</a>
                    <a class="nav-link" href="{{ url_for ('scrolly')}}">Scrolly</a>
                    <a class="nav-link" href="{{ url_for ('datastory')}}">Data Story</a>
                    <a class="nav-link" href="{{ url_for ('calc')}}">Calculator</a>
                    <a class="nav-link" href="{{ url_for ('article')}}">Article</a>
                </div>
            </div>
        </nav>
    </header>
    <div>
        <h1>Winter is coming - UK braces for impact</h1>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    </div>
    <main>
        <p>Research from the Financial Conduct Authority reveals over half of UK adults are more worried about their
            finances this summer compared to last year, with energy costs as one of the biggest concerns.</p>
        <p>People across the UK are still struggling to keep up with energy bills. The Energy Support and Advice UK
            Facebook group has an active membership with over 120,000 members. Daily posts from this group show members
            are struggling to keep up with payments and higher energy bills, with many asking for direct support. It
            only looks to get worse this coming winter. </p>
        <div class="flourish-embed flourish-bubble-chart" data-src="visualisation/14660096">
            <script src="https://public.flourish.studio/resources/embed.js"></script>
        </div>
        <p>Simon Francis, co-ordinator of the End Fuel Poverty Coalition, said in an interview ‘energy prices haven’t
            been the same since 2020’. Simon explained while people’s bills are falling slightly with the Ofgem Energy
            Price Cap, bills have surged to over double what they used to be in 2020. The Ofgem Energy Price Cap places
            a limit on the maximum amount suppliers can charge for the unit cost of gas and electricity, setting a
            maximum daily standing charge. The Energy Price Cap changes every three months based on average energy
            wholesale prices. The End Fuel Poverty Coalition shows how despite the Energy Price Cap, people have less
            ability to pay this year as the cost-of-living crisis continues.</p>
        <figure>
            <img src="static/img/epc.png" class="article-img">
            <figcaption>Energy Efficiency Ratings, Image Source: <a
                    href="https://www.rowlen.co.uk/epc-ratings-everything-you-need-to-know-to-improve-yours/">Rowlen
                    Boiler Services</a></figcaption>
        </figure>
        <!-- Energy efficiency image, visualisation to explain rating scale -->
        <p>The Association for Decentralised Energy (ADE) works to bring energy efficiency solutions to policy. Chris
            Friedler, policy officer at ADE, said in an interview that more people are struggling to afford energy
            efficiency measures to upgrade their homes. The average energy efficiency rating for a dwelling in England
            and Wales is band D. The higher the rating the lower your fuel bills are likely to be, and the ratings are
            on a scale from A (most efficient) to G (least efficient). Top actions to make your home more energy
            efficient include cavity wall insulation, draught proofing measures and replacing your boiler for a more
            energy efficient solution. </p>
        <p>The Fuel Bank Foundation acts as a critical lifeline for homes in fuel crisis, providing financial support
            and practical advice. The foundation has seen a 75% increase in demand for support since last year, with a
            staggering 95% of those having to choose between heating and eating. The foundation anticipates figures will
            increase as energy increases are felt, especially coming up to a cold winter ahead. </p>
        <figure>
            <img src="static/img/wtwprotest.png" class="article-img">
            <figcaption>Warm this Winter campaigners outside parliament, Image Source: <a
                    href="https://www.bigissue.com/news/social-justice/warm-this-winter-protests-energybills/">The Big
                    Issue</a></figcaption>
        </figure>
        <p>Calling for vital government action, the Warm This Winter campaign demands that the government lower soaring
            energy bills and has called for emergency support for vulnerable households at the risk of being pushed into
            fuel poverty. The campaign also calls for a long-term plan to ‘fix the UK’s broken energy system for good’.
        </p>
        <p>As winter approaches, the urgency to address fuel poverty remains clear. Organisations like the End Fuel
            Poverty Coalition, ADE and the Fuel Bank Foundation demand that the government act quickly as more
            households become at risk of being fuel poor.</p>
    </main>
</body>

</html>