<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Fuel Poverty Risk Calculator</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous" />
  <link rel="stylesheet" type=text/css href="{{ url_for('static',
    filename='stylemain.css') }}">
  <link rel="stylesheet" type=text/css href="{{
    url_for('static', filename='stylepage4.css') }}">
  <script src="main.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
    <nav class="navbar bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}"> </a>
        <div class="nav">
          <a class="nav-link" href="{{ url_for ('index')}}">Home</a>
          <a class="nav-link" href="{{ url_for ('scrolly')}}">Scrolly</a>
          <a class="nav-link" href="{{ url_for ('datastory')}}">Data Story</a>
          <a class="nav-link" href="{{ url_for ('calc')}}">Calculator</a>
          <a class="nav-link" href="{{ url_for ('article')}}">Article</a>
        </div>
      </div>
    </nav>
  </header>
  <h1>Fuel Poverty Risk Calculator</h1>
  <div class="calc-intro">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
    <h3>Introduction to this tool</h3>
    <p>This fuel poverty risk calculator is a personalised tool to help users understand how close they are to fuel
      poverty</p>
    <h3>Notes</h3>
    <p>This tool has been developed as an experimental prototype and may not be fully representative. It does not
      account for any nuances that may influence someone's personal situation</p>
    <p>The tool uses five data points to generate the final risk score, based on government fuel poverty statistics.
    </p>
  </div>
  <!-- Using RegEx for input validation-->
  <form method="post">
    <label for="median_income">Median household income:</label>
    <input type="number" name="median_income" required /><br />

    <label for="household_size">Number of people in household:</label>
    <input type="number" name="household_size" min="1" max="6" required /><br />

    <label for="property_type">Property type (select below):</label>
    <select name="property_type" required>
      <option value="Converted flat">Converted flat</option>
      <option value="Detached">Detached</option>
      <option value="End terrace">End terrace</option>
      <option value="Mid terrace">Mid terrace</option>
      <option value="Purpose-built flat">Purpose-built flat</option>
      <option value="Semi-detached">Semi-detached</option>
    </select>
    <br />
    <label for="tenure_type">Tenure type (select below):</label>
    <select name="tenure_type" required>
      <option value="Owner occupied: Own with mortgage">
        Owner occupied: Own with mortgage
      </option>
      <option value="Owner occupied: Own outright">
        Owner occupied: Own outright
      </option>
      <option value="Private rented">Private rented</option>
      <option value="Local authority">Local authority</option>
      <option value="Housing association">Housing association</option>
    </select>
    <br />
    <label for="epc_band">EPC band:
      <a href="https://www.gov.uk/find-energy-certificate">What is my EPC band?</a>
    </label>
    <input type="text" name="epc_band" required pattern="A|B|C|D|E|F|G" /><br />
    <button type="submit">Calculate</button>
  </form>
  <section id="calc-results">
    <h3>Your fuel poverty risk score is: {{ score }}</h3>
    <img src="{{ risk_image }}" />
    <h3>What does my score mean?</h3>
    <p>Your risk score is based on several data points which suggest certain groups are more likely to be in fuel
      poverty. For example, almost 1 in 4 converted flats were fuel poor in England 2022. Research shows the age of
      converted flats lead to damp and moisture issues, outdated heating systems and poor insulation which increases
      risk of fuel poverty.</p>
    <p>On the other hand, those in the highest income decile group are least likely to be fuel poor, due to access to
      financial resources and ability to invest in energy efficiency measures to upgrade homes. </p>
    <p>Your EPC rating is very important for assessing how close you are to fuel poverty, as it tells you how energy
      efficient your property is. To improve your EPC rating, making energy efficient investments is best for the long
      term. Examples include proper insulation and double glazing to reduce heat loss, upgrading to a modern heating
      system like a heat pump, using energy efficient appliances and switching to a green energy tariff which sources
      electricity from renewables.</p>
  </section>
</body>

</html>
