<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

</html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fuel poverty: A Data Story</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='stylemain.css') }}">
    <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='stylepage3.css') }}">
    <script src="main.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <nav class="navbar bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                </a>
                <div class="nav">
                    <a class="nav-link" href="{{ url_for ('index')}}">Home</a>
                    <a class="nav-link" href="{{ url_for ('scrolly')}}">Scrolly</a>
                    <a class="nav-link" href="{{ url_for ('datastory')}}">Data Story</a>
                    <a class="nav-link" href="{{ url_for ('calc')}}">Calculator</a>
                    <a class="nav-link" href="{{ url_for ('article')}}">Article</a>
                </div>
    </header>
    <div>
        <h1>Fuel poverty: A Data Story</h1>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    </div>
    <div class="intro">
        <h3>Introduction to the tool</h3>
        <p>'The data story' is an interactive experience designed to encourage users to consider the decisions involved
            in the fuel poverty space</p>
        <h3>Using this tool</h3>
        <p>Navigate through the experience using the arrows at the bottom or by clicking on the left or right of the
            screen to turn the page</p>
        <p>This tool was created using fuel poverty statistics, recent events in the media and government policy to
            build scenarios</p>
    </div>
    </section>
    <!-- Embedding the data story I built using Canva -->
    <div style="position: relative; width: 100%; height: 0; padding-top: 56.2500%;
padding-bottom: 0; box-shadow: 0 2px 8px 0 rgba(63,69,81,0.16); margin-top: 1.6em; margin-bottom: 0.9em; overflow: hidden;
border-radius: 8px; will-change: transform;">
        <iframe loading="lazy"
            style="position: absolute; width: 90%; height: 80%; top: 0; left: 0; border: none; padding: 0;margin: 0;"
            src="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFq9mdsBgM&#x2F;view?embed"
            allowfullscreen="allowfullscreen" allow="fullscreen">
        </iframe>
    </div>
    <a href="https:&#x2F;&#x2F;www.canva.com&#x2F;design&#x2F;DAFq9mdsBgM&#x2F;view?utm_content=DAFq9mdsBgM&amp;utm_campaign=designshare&amp;utm_medium=embeds&amp;utm_source=link"
        target="_blank" rel="noopener">A data story on fuel poverty</a> by Thanousha
    </section>
</body>

</html>