<!-- Throughout this project, I have used the Bootstrap framework to implement a professional look and feel across my website -->
<!-- For any component with the note Bootstrap* - please refer to the referencing source below -->
<!-- *Bootstrap Docs -->
<!-- Accessed from 07-08-2023 until 08-09-2023 -->
<!-- Link https://getbootstrap.com/docs/5.3/getting-started/introduction/-->

<!-- Using Bootstrap* to use a consistent dark theme throughout all pages-->
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<!-- To implement a professional look and feel across my website, I downloaded a free font from Google Fonts -->
<!-- Accessed from 11-08-2023 until 08-09-2023 -->
<!-- Link https://fonts.google.com/noto/specimen/Noto+Serif -->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Fuel poverty in the UK</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='stylemain.css') }}">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='stylepage1.css') }}">
  <script src="main.js"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">
</head>

<!-- Using Bootstrap* to implement a professional and consistent navigation bar-->

<body>
  <header>
    <nav class="navbar bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('index') }}">
        </a>
        <div class="nav">
          <a class="nav-link" href="{{ url_for ('index')}}">Home</a>
          <a class="nav-link" href="{{ url_for ('scrolly')}}">Scrolly</a>
          <a class="nav-link" href="{{ url_for ('datastory')}}">Data Story</a>
          <a class="nav-link" href="{{ url_for ('calc')}}">Calculator</a>
          <a class="nav-link" href="{{ url_for ('article')}}">Article</a>
        </div>
  </header>
  <div>
    <h1>Fuel poverty in the UK</h1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
  </div>
  <section>
    <p>A Cardiff University Dissertation Project </p>
    <p>Thanousha Ratnam <br> MSc Computational and Data Journalism 2023</p>
  </section>
  <div class="page1upper">
    <section>
      <h3>What is fuel poverty?</h3>
      <p>Fuel poverty is when a household can’t meet their energy needs at a reasonable cost. The main drivers of fuel
        poverty are household energy efficiency, household income and energy prices.</p>
    </section>
    <aside>
      <p>The fuel poverty gap refers to the amount of money a household would need to no longer be classed as fuel poor.
      </p>
      <ul>
        <li>Fuel poverty gap for 2021 in England - £254</li>
        <li>Fuel poverty gap for 2022 in England - £338</li>
        <li>Fuel poverty gap for 2023 in England - £443 (estimated)</li>
      </ul>
    </aside>
  </div>
  <div class="page1middle">
    <section>
      <h3>My project</h3>
      <p>This project aims to bring together information from the past year in an engaging and clear format. There are
        four main components, best viewed in the order below.</p>
    </section>
  </div>
  <div class="card-group">
    <div class="card text-bg-light mb-3">
      <img src="static/img/scrollyhome.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">1. The Scrolly</h5>
        <p class="card-text">The first part of this series is an article presented in a 'Scrollytelling' format. Users
          can scroll through the page to reveal a story vertically, navigating at their own pace.</p>
      </div>
      <div class="card-footer">
        <a href="{{ url_for ('scrolly')}}" class="btn btn-primary">Visit the story</a>
      </div>
    </div>
    <div class="card text-bg-light mb-3">
      <img src="static/img/datastoryhome.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">2. The Data Story</h5>
        <p class="card-text">The second feature is an interactive experience for users to navigate through a series of
          questions. At the end, users can go back and review their choices.</p>
      </div>
      <div class="card-footer">
        <a href="{{ url_for ('datastory')}}" class="btn btn-primary">Explore the choices</a>
      </div>
    </div>
    <div class="card text-bg-light mb-3">
      <img src="static/img/calchome.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">3. The Calculator</h5>
        <p class="card-text">The third feature is a personalised fuel poverty risk calculator, for users to input basic
          information and receive a personalised rating.</p>
      </div>
      <div class="card-footer">
        <a href="{{ url_for ('calc')}}" class="btn btn-primary">Calculate your score </a>
      </div>
    </div>
    <div class="card text-bg-light mb-3">
      <img src="static/img/articlehome.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">4. The Article</h5>
        <p class="card-text">The final feature is another article to conclude the project series. The project is also
          accompanied by several visualisations.</p>
      </div>
      <div class="card-footer">
        <a href="{{ url_for ('article')}}" class="btn btn-primary">Read the article </a>
      </div>
    </div>
  </div>
</body>

</html>