<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<!-- Using a Scrollytelling template from Scrollama.js library, via the course materials in the Google Drive -->
<!-- Accessed from 11-08-2023 until 08-09-2023 -->
<!-- Link: https://drive.google.com/drive/folders/1YkGpbhbmVcx5nIgFxg70RKHPGGSm5Nnk -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuel poverty schemes miss targets</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://unpkg.com/scrollama"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

    <style>
        html,
        body,
        main {
            margin: 10px;
            font-family: 'Noto Serif', serif;
            box-sizing: border-box;
        }

        body {
            padding: 40px;
        }

        section h5 {
            line-height: 2;
            margin-bottom: 20px;
        }

        section h4 {
            line-height: 2;
            margin-top: 20px;
        }

        section p {
            line-height: 2;
        }

        .article-format {
            background-color: rgb(204, 201, 197);
            color: black;
            max-width: 700px;
            margin: 100px auto;
            padding: 50px;
            text-align: justify;
        }


        #scrolly {
            position: relative;
            display: flex;
            height: 90%;
            width: 92%;
            background-color: #eee;
            padding: 1rem;
        }

        #scrolly h4 {
            padding: 50px;
            line-height: 1.5;
        }

        #scrolly>* {
            flex: 1 0 auto;
        }

        .step {
            height: 400px;
            margin: 0 auto 2rem auto;
            background-color: rgb(251, 143, 93);
            padding: 1rem;
        }

        article {
            position: relative;
            max-width: 30vw;
        }

        figure {
            position: sticky;
            margin: 0;
            background-color: rgb(248, 239, 124);
            top: 0;
        }

        figure img {
            /*position: absolute;*/
            max-height: 100%;
            display: block;
            margin: auto;
        }

        .active {
            background-color: rgb(255, 43, 43);
        }

        details {
            user-select: none;
            background-color: rgb(204, 201, 197);
            color: black;
            max-width: 700px;
            margin: 100px auto;
            padding: 50px;
            text-align: justify;
        }

        details>p {
            font-size: smaller;
        }

        details>summary span.icon {
            width: 24px;
            height: 24px;
            transition: all 0.3s;
            margin-left: auto;
        }

        details[open] summary span.icon {
            transform: rotate(180deg);
        }

        summary {
            display: flex;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <header>
        <nav class="navbar bg-dark" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{{ url_for('index') }}">
                </a>
                <div class="nav">
                    <a class="nav-link" href="{{ url_for ('index')}}">Home</a>
                    <a class="nav-link" href="{{ url_for ('scrolly')}}">Scrolly</a>
                    <a class="nav-link" href="{{ url_for ('datastory')}}">Data Story</a>
                    <a class="nav-link" href="{{ url_for ('calc')}}">Calculator</a>
                    <a class="nav-link" href="{{ url_for ('article')}}">Article</a>
                </div>
    </header>
    <main>
        <section id="intro">
            <h1>Fuel poverty schemes fail to reach targets</h1>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
                crossorigin="anonymous"></script>
        </section>

        <section>
            <div class="article-format">
                <p>Fuel poverty schemes across the UK fail to perform, missing up to 92% of expected targets.</p>

                <p>Fuel poverty schemes are part of the government’s action plan to reach the fuel poverty target,
                    ensuring
                    ‘as many fuel poor homes as reasonably practicable achieve a minimum energy efficiency rating of
                    Band C,
                    by 2030’.</p>
                <p>The government’s Fuel Poverty Strategy aims to invest millions to drive energy bills savings.
                    This includes providing grants for households to improve energy efficiency, retrofitting social
                    housing
                    for better insulation and giving a discount on high energy bills.</p>
            </div>
            <h4>Examples of the scheme include</h4>
        </section>

        <section id="scrolly">
            <article>
                <div class="step">
                    <h2>The Boiler Upgrade Scheme</h2>
                    <h4>The Boiler Upgrade Scheme encouraged households in England and Wales to upgrade their gas
                        boilers to heat pumps and other low-carbon alternatives.</h4>
                </div>
                <div class="step">
                    <h4>It offered help in the form of a grant to cover part of the cost of replacing fossil fuel
                        heating systems to a low-carbon alternative.</h4>
                </div>
                <div class="step">
                    <h4>Applications opened in May 2022. The scheme had a very low take-up with only 1/3 of the budget
                        used. Just over half the expected targets were reached after one year of the scheme. </h4>
                </div>
                <div class="step">
                    <h4>Members of the House of Lords Environment and Climate Change committee said promotion of the
                        scheme was <strong>‘inadequate’</strong> and public awareness of heat pumps was <strong>‘very
                            limited’.</strong></h4>
                </div>
                <div class="step">
                    <h4>The scheme was described as <strong>‘seriously failing’</strong> by Baroness Parminter, member
                        of the House of Lords. <br> A skills shortage to deliver the works was also identified as a main
                        barrier</h4>
                </div>
                <div class="step">
                    <h2>The Social Housing Decarbonisation Fund (SHDF)</h2>
                    <h4>The SHDF aims to upgrade a significant amount of the social housing stock up to an Energy
                        Performance Certificate rating of C+ in England </h4>
                </div>
                <div class="step">
                    <h4> Registered providers of social housing can apply for funding to install energy performance
                        measures in social homes </h4>
                </div>
                <div class="step">
                    <h4> The numbers: <br> - Wave 1 - £160 million available (funding applications closed Oct 2021) <br>
                        - Wave 2.1 - £800 million available (funding applications closed Nov 2022)</h4>
                </div>
                <div class="step">
                    <h4> The scheme faced challenges as just 7% of the promised 20,000 homes had works completed in the
                        first wave. The deadline for the first wave was extended by three months as a result. </h4>
                </div>
                <div class="step">
                    <h4> Annie Owens, policy and practice officer at the Chartered Institute of Housing said there’s
                        been a delay in building due to a labour shortage. With not enough people trained to deliver the
                        works, schemes are severely underperforming. </h4>
                </div>
                <div class="step">
                    <h2> The Green Homes Grant </h2>
                    <h4> The £2 billion Green Homes Grant provided vouchers for homeowners and landlords to make energy
                        efficiency improvements to homes </h4>
                </div>
                <div class="step">
                    <h4> Eligible applicants could use the voucher for different home improvements including insulation
                        and low carbon heating measures, with a maximum government contribution of £5000 towards the
                        work. </h4>
                </div>
                <div class="step">
                    <h4> The scheme was scrapped after less than a year in 2021 for a lack of installations. Just 8% of
                        the expected targets were met. </h4>
                </div>
                <div class="step">
                    <h4> The UK Parliament’s Public Accounts Committee said it was ‘a scheme with poor design and
                        troubled implementation’, and the scheme ‘underperformed badly’. </h4>
                </div>
            </article>
            <figure>
                <img src="" alt="">
            </figure>
        </section>

        <section>
            <div class="article-format">
                <p>The Association for Decentralised Energy (ADE) provides guidance and advice to government, driving
                    for energy efficiency investments and the decarbonisation of heat. Chris Friedler, policy officer at
                    ADE, said in an interview that the government schemes aren’t working well. Chris said schemes were
                    allocated millions in first wave funding, going up to hundreds of millions – only to be recalled as
                    homes weren’t being upgraded. When asked why, Chris said there isn’t enough labour to deliver the
                    works, red-tape and bureaucracy have led to slow starts which delays progress, and local authorities
                    are often cash strapped to apply for funding in the first place. Chris said, ‘I think the main
                    problem really is that they’re not being implemented well, rather than the funding levels
                    themselves’.</p>

                <p>After millions of people struggled to keep their homes warm last winter, many fuel poverty schemes
                    have come under criticism for underperforming by a coalition of charities including ADE, End Fuel
                    Poverty Coalition and National Energy Action. The Chartered Institute for Housing said the slow
                    start for many schemes reflects challenges within the sector. These challenges include price
                    increases above inflation, scarcity of materials and an acute skills gap across the country for
                    people to be trained to deliver the retrofit works.</p>

                <p>Despite the huge amounts of funding available, fuel poverty schemes aren’t structured well enough to
                    support the most people in need.</p>
            </div>
        </section>

        <!-- Using a dropdown collapsible feature, implementing progressive disclosure so users are not overwhelmed with information -->
        <!-- Article by Jordan Finneran from Dev Community, posted 23-12-2020 -->
        <!-- Accessed from 21-08-2023 until 08-09-2023 -->
        <!-- Link: https://dev.to/jordanfinners/creating-a-collapsible-section-with-nothing-but-html-4ip9 -->
        <!-- HTML CODE: -->
        <!-- 
        <details>
        <summary>
            What is the meaning of life?
            <span class="icon">👇</span>
        </summary>
        <p>
            42
        </p>
        </details> 
        -->
    </main>
    <details>
        <summary>
            <h4>See references for images below</h4>
            <span class="icon">👇</span>
        </summary>
        <p>Many images were designed using my personal Canva account</p>
        <h5><Strong>References for data visualisations, built myself</Strong></h5>
        <p>https://public.flourish.studio/visualisation/14638652/</p>
        <p>https://public.flourish.studio/visualisation/14649865/</p>
        <p>https://public.flourish.studio/visualisation/14649758/</p>
        <h5><strong>References for other images</strong></h5>
        <p>https://www.your-trolley.co.uk/funding/</p>
        <p>https://www.greenmatch.co.uk/blog/clean-heat-grant</p>
        <p>https://committees.parliament.uk/committee/515/environment-and-climate-change-committee/news/186300/the-boiler-upgrade-scheme-is-failing-to-deliver-says-lords-committee/
        </p>
        <p>https://www.vorgroup.co.uk/is-your-retrofit-project-shdf-eligible/</p>
        <p>https://www.kensaheatpumps.com/funding/social-housing-decarbonisation-fund/</p>
        <p>https://www.broadlandgroup.org/social-housing-decarbonisation-fund-successs/</p>
        <p>https://www.londoncouncils.gov.uk/our-key-themes/climate-change/retrofit-london-programme</p>
        <p>https://rameco.co.uk/blog/f/green-home-grants-rameco-ltd-are-trustmark-accredited-installers</p>
        <p>https://www.greenmatch.co.uk/blog/green-homes-grant</p>
        <p>https://committees.parliament.uk/committee/127/public-accounts-committee/news/159264/pac-report-green-homes-grant-scheme-underperformed-badly
        </p>
    </details>

    <script>

        let scrolly = document.querySelector('#scrolly');
        let intro = document.querySelector('#intro h1');
        let img = scrolly.querySelector('figure img');
        let article = scrolly.querySelector('article');
        let steps = article.querySelectorAll('.step');

        function setSize() {
            let stepHeight = Math.floor(window.innerHeight - 50);

            steps.forEach(step => {
                step.style.height = stepHeight + 'px';
            });

            let figureMargin = (window.innerHeight - stepHeight) / 2;
            scrolly.querySelector('figure').style.height = stepHeight + 'px';
            scrolly.querySelector('figure').style.top = figureMargin + 'px';
        }

        let scrollyTeller = scrollama();

        // 935 w by 817 px
        let images = [
            'static/img/BUS1.png',
            'static/img/BUS2.png',
            'static/img/BUS3.png',
            'static/img/BUS4.png',
            'static/img/BUS5.png',
            'static/img/SHDF1.png',
            'static/img/SHDF2.png',
            'static/img/SHDF3.png',
            'static/img/SHDF4.png',
            'static/img/SHDF5.png',
            'static/img/GHG1.png',
            'static/img/GHG2.png',
            'static/img/GHG3.png',
            'static/img/GHG4.png',
        ];

        function init() {
            setSize();

            scrollyTeller
                .setup({
                    step: '#scrolly article .step',
                    offset: 0.33,
                    debug: false
                })
                .onStepEnter(response => {
                    console.log(response);
                    response.element.classList.add('active');
                    img.src = images[response.index];
                })
                .onStepExit(response => {
                    console.log(response);
                    response.element.classList.remove('active');
                })
        }

        init();
    </script>

</body>

</html>